.pro{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.detal{
    width: 100%;
    height: 84.5vh;
}
.pro-class{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.data-base{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.img-cont{
    display: block;
    width: 1850px !important;
    height: 384px !important;
    border-radius: 20px !important;
}
select{
    display: block;
    color: #000000 !important;
    border: 1px solid black;
   
}
option{
    color: black !important;
}

.data-text h5{
    margin-top: 25px;
}
.data-text p{
    margin-top: 25px;
}
.data-text button{
    padding: 16px;
    border: none;
    font-size: 16px;
    color: #dbd4ed;
    margin-top: 25px;
    background-color: #463aa1;
    border-radius: 15px;
    cursor: pointer;
    width: 125px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.data-text select{
    width: 320px;
    height: 35px;
    padding: 16px;
    border-radius: 20px;
}
.hm-links{
    color: #394e6a;
    font-size: 20px;
    text-decoration: none;
}
